@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kalam";
  src: url("fonts/Kalam-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Agbalumo";
  src: url("fonts/Agbalumo-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 
  Dark mode santa logo in footer
*/

@media (prefers-color-scheme: dark) {
  .filter-turquoiseGreen {
    filter: brightness(0) saturate(100%) invert(82%) sepia(15%) saturate(420%)
      hue-rotate(99deg) brightness(92%) contrast(93%);
  }
}

/* 
  Menu button animation
*/

.menuButton1 {
  transform-origin: center left;
  transform: translateY(-0.5rem) rotate(40deg) scaleX(1.25);
}

.menuButton1--reverse {
  transform-origin: center left;
  transform: translateY(-0.5rem) rotate(0deg) scaleX(1);
}

.menuButton3 {
  transform-origin: center left;
  transform: translateY(0.5rem) rotate(-40deg) scaleX(1.25);
}

.menuButton3--reverse {
  transform-origin: center left;
  transform: translateY(0.5rem) rotate(0deg) scaleX(1);
}

/* 
  Menu slide in animation
*/

.menuSlideIn {
  transform: translateX(0%);
  visibility: visible;
}

.menuSlideIn--reverse {
  visibility: hidden;
  transform: translateX(-100%);
}

.panelSlideIn {
  transform: translateX(0%);
  visibility: visible;
}

.panelSlideIn--reverse {
  visibility: hidden;
  transform: translateX(100%);
}
